.user-search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    z-index: 100000;
    height: 14.1rem
}

.admin-page-subheader {
    margin: 2rem 2rem 1rem 2rem;
    font-size: 2rem;
}